<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Application Manager</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body class="bg-light">
    <nav class="navbar landing-bg mb-5">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Application Manager</a>
      </div>
    </nav>
    <div class="container-fluid align-items-center justify-content-center d-flex">
      <div class="row align-items-center text-left">
        <div class="col-6">
          <img alt="image" class="img-fluid" src="login.svg">
        </div>
        <div class="col-6 ml-auto pt-5 pt-lg-0">
          <h1>Application Manager</h1>
          <p class="lead">The best form maker on the web!</p>
          <p class="mt-4">
            <a href="/register" class="btn auth-btn">Signup</a>
            <a href="/login" class="btn auth-btn">Login</a>
          </p>
        </div>
      </div>
    </div>

<% include partials/footer %>
