/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

html, body {
  height: 100%;
}

.add-field {
  display: flex;
}

.add-field div, .add-field button {
  margin-left: 8px;
}

.form-new {
  display: flex;
}

.pane {
  width: 50%;
}

.fields {
  display: flex;
}

.auth-btn, .landing-bg, .form-btn {
  background-color: #ff6347;
  color: #ffffff;
}

a.navbar-brand, a.nav-link {
  color: #ffffff;
}
