<% include ../partials/header %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <a class="btn auth-btn btn-lg" href="/form/new">Create new form</a>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="blue.svg" alt="">
        <div class="card-body">
          <h3 class="card-title">Attendance Form</h3>
          <a href="#" class="card-link">Applicants</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="purple.svg" alt="">
        <div class="card-body">
          <h3 class="card-title">Test Form II</h3>
          <a href="#" class="card-link">Applicants</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="red.svg" alt="">
        <div class="card-body">
          <h3 class="card-title">Resume Workshop Form</h3>
          <a href="#" class="card-link">Applicants</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="yellow.svg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Exit Form</h3>
          <a href="#" class="card-link">Applicants</a>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>
