<% include ../partials/header %>

<div class="container">
  <header class="jumbotron">
    <h1>This is the forms page!</h1>
    <p>
      <a class="btn btn-primary btn-lg" href="/form/new">Create new form</a>
    </p>
  </header>
</div>

<% include ../partials/footer %>
